#tabs-1 b    { color: #3333CC; }
#motif-table { border: 5px; border-collapse: collapse; border-color: #000000; width: 100%; text-align: center; font-size: 110%; padding: 10px; }
#motif-table th { background-color: #E6E6FF; padding: 10px; }
#motif-table tr.even td { background-color: #E6E6FF; padding: 10px; }
#motif-table tr.odd  td { background-color: #F4F7FB; padding: 10px; }
#total-motif { border: 5px; border-collapse: collapse; border-color: #000000; width: 100%; text-align: center; font-size: 110%; padding: 10px; }
#total-motif th { background-color: #E6E6FF; padding: 10px; }
#total-motif tr.even td { background-color: #E6E6FF; padding: 10px; }
#total-motif tr.odd  td { background-color: #F4F7FB; padding: 10px; }
